.btn {

    padding: 0.2rem 0.5rem;
    border-radius: 3px;

    &-mate {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        i {
            margin-right: 0.35rem;
        }
    }

    &:focus {
        box-shadow: none;
    }

    &-bread {
        border: 1px solid #eee;
        margin-left: 1rem;
        color: #333;
        opacity: .6;
        display: flex;
        align-items: center;

        .material-icons {
            margin-right: 0.25rem;
        }
    }

    &-df-center {
        display: flex;
        align-items: center;
        padding: 0.25rem;
    }

    &-nav {
        width: calc(100% - 1.6rem);
        margin: 10px 0.8rem;
        text-align: left;
        @include rem(padding, 13px 15px);
        font-size: 15px;
        font-weight: 400;
        border-radius: 0;
        display: flex;
        align-items: center;
        color: #3c4858;
        transition: 0.3s;
        box-shadow: 0 4px 20px 0 #00000000, 0 7px 10px -5px #337ab700;

        i {
            margin-right: 0.5rem;
            color: #a9afbb;
            transition: 0.3s;
        }

        &.router-link-exact-active {
            background-color: #019ed8;
            color: #fff;
            box-shadow: 0 4px 20px 0 #0000000d, 0 7px 10px -5px #337ab76b;

            i {
                color: #fff;
            }
        }

    }

    &-icon {
        padding: 0.15rem 0.25rem;
        line-height: 100%;
        display: table-caption;
    }
}

.pull-right {
    display: flex;
    margin-left: auto;
}

