.ratio {
  width: 100%;
}

.ratio_img {
  width: 100%;
  position: relative;
}

.ratio_img_src {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.ratio-100 .ratio_img {
  padding-top: 100%;
}

html {
  font-size: 0.928vw;
}

@media screen and (max-width: 780px) {
  html {
    font-size: 2.308vw;
  }
}

.text-m05 {
  margin-right: 0.5rem;
}

.text-right {
  text-align: right;
}

.text-line {
  text-decoration: underline;
}

.text-s45 {
  font-size: 2.5rem;
}

.text-s45vw {
  font-size: 2.34375vw;
}

.text-s16 {
  font-size: 0.88888889rem;
}

.text-s16vw {
  font-size: 0.83333333vw;
}

.text-s18 {
  font-size: 1rem;
}

.text-s18vw {
  font-size: 0.9375vw;
}

.text-s10 {
  font-size: 0.55555556rem;
}

.text-s10vw {
  font-size: 0.52083333vw;
}

.text-s20 {
  font-size: 1.11111111rem;
}

.text-s20vw {
  font-size: 1.04166667vw;
}

.text-s24 {
  font-size: 1.33333333rem;
}

.text-s24vw {
  font-size: 1.25vw;
}

.text-s12 {
  font-size: 0.66666667rem;
}

.text-s12vw {
  font-size: 0.625vw;
}

.text-s28 {
  font-size: 1.33333333rem;
}

.text-s28vw {
  font-size: 1.25vw;
}

.text-s14 {
  font-size: 0.77777778rem;
}

.text-s14vw {
  font-size: 0.72916667vw;
}

.text-s15 {
  font-size: 0.83333333rem;
}

.text-s15vw {
  font-size: 0.78125vw;
}

.text-s32 {
  font-size: 1.77777778rem;
}

.text-s32vw {
  font-size: 1.66666667vw;
}

.text-s35 {
  font-size: 1.94444444rem;
}

.text-s35vw {
  font-size: 1.82291667vw;
}

.text-s60 {
  font-size: 3.33333333rem;
}

.text-s60vw {
  font-size: 3.125vw;
}

.text-s50 {
  font-size: 2.77777778rem;
}

.text-s50vw {
  font-size: 2.60416667vw;
}

@media screen and (max-width: 780px) {
  .text-s16 {
    font-size: 1.77777778rem;
  }

  .text-s16vw {
    font-size: 4.1025641vw;
  }

  .text-s30 {
    font-size: 2rem;
  }

  .text-s30vw {
    font-size: 4.61538462vw;
  }

  .text-s18 {
    font-size: 1.88888889rem;
  }

  .text-s18vw {
    font-size: 4.35897436vw;
  }

  .text-s28 {
    font-size: 1.94444444rem;
  }

  .text-s28vw {
    font-size: 4.48717949vw;
  }

  .text-s14 {
    font-size: 1.33333333rem;
  }

  .text-s14vw {
    font-size: 3.07692308vw;
  }

  .text-s20 {
    font-size: 1.55555556rem;
  }

  .text-s20vw {
    font-size: 3.58974359vw;
  }

  .text-s35 {
    font-size: 2.5rem;
  }

  .text-s35vw {
    font-size: 5.76923077vw;
  }

  .text-s32 {
    font-size: 2.33333333rem;
  }

  .text-s32vw {
    font-size: 5.38461538vw;
  }
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: url(/images/1.png?1281277f8016178cece332ed90a938fe);
}

