<template>

    <form @submit.prevent="updateTable" action="/api/table/update" onSubmit="return false;" method="post"
          class="model_edit">

        <breadcrumb :breadcrumb="breadcrumb"/>

        <div class="model_edit_head">
            <i class="material-icons text text-m05 text-s24">cloud_queue</i> <span class="text text-s18"> {{
                model
            }}</span>
            <router-link class="btn btn-success btn-mate text text-s12" :to="'/admin/'+model+'/edit/0'">
                <i class="material-icons text text-s12">add_circle_outline</i>
                Новая запись
            </router-link>
        </div>

        <div class="select_filter" v-if="model=='User'">


            <div class="input-text">
                <p class="text text-s12 input_name">
                    Тип пользователя
                </p>
                <select name="" id="">
                    <option value="">Заведение</option>
                    <option value="">Гость</option>
                </select>
            </div>
        </div>


        <div class="select_filter" v-if="model=='Reservation'">
            <div class="input-text">
                <p class="text text-s12 input_name">
                    Поиск
                </p>
                <input placeholder="" class="form-control text text-s12"/>
            </div>
            <div class="input-text">
                <p class="text text-s12 input_name">
                    Брони с
                </p>
                <input placeholder="" type="date" class="form-control text text-s12"/>
            </div>
            <div class="input-text">
                <p class="text text-s12 input_name">
                    Бронь по
                </p>
                <input placeholder="" type="date" class="form-control text text-s12"/>
            </div>
            <div class="input-text">
                <p class="text text-s12 input_name">
                    Заведение
                </p>
                <select name="" class="text text-s12">
                    <option value="">Все</option>
                    <option value="" v-for="(column,column_index) in restaurant">{{ column["name"] }}</option>
                </select>
            </div>
            <div class="input-text">
                <p class="text text-s12 input_name">
                    Статус брони
                </p>
                <select name="" class="text text-s12">
                    <option value="">Все</option>
                    <option value="receiving">Получение оплаты</option>
                    <option value="">Отменённый</option>
                    <option value="">Оплачен</option>
                    <option value="">Завершенный</option>
                </select>
            </div>

            <div class="nbc_bo" style="display: flex;justify-content: flex-end;">
                <div class="btn">Схема</div>
                <div class="btn">Карта</div>
            </div>
        </div>


        <div class="model_edit_main">
            <div class="input-text" style="margin:1rem 0;">
                <p class="text text-s12 input_name">
                    Поиск
                </p>
                <input id="search_date" placeholder="" class="form-control text text-s12"/>
            </div>
            <table
                class="table sortTables  table-bordered table-striped js-table dataTable order-table no-footer">
                <thead>
                <tr>
                    <th v-for="(column,column_index) in thead" class="text text-s12">{{ column }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="inputGroup-check " v-for="(row,row_index) in this.data" :key="row_index">
                    <td v-for="(column,column_index) in thead">
                        <div class="bread-nav">
                            <router-link :to="'/admin/'+model+'/edit/'+row['id']" class="text text-s12">
                                {{ row[column_index] }}
                            </router-link>
                        </div>
                    </td>
                    <td>
                        <div class="nav_table-btn">
                            <div v-if="model!='Reservation'" @click="delete_row(row_index ,row['id'])"
                                 class="btn btn-danger btn-df-center text text-s12">
                                <i class="material-icons text text-s14">delete_forever</i>
                            </div>

                            <a href="javascript:void(0)" v-if="model=='Reservation'"
                               class="btn btn-danger btn-df-center text text-s12"
                               style="background-color: dodgerblue;border:none;">
                                <i class="material-icons text text-s14">lock</i>
                            </a>
                            <a href="javascript:void(0)" v-if="model=='Reservation'"
                               class="btn btn-danger btn-df-center text text-s12"
                               style="background-color: dodgerblue;border:none;">
                                <i class="material-icons text text-s14">lock_open</i>
                            </a>

                            <router-link class="btn btn-success btn-df-center text text-s12"
                                         :to="'/admin/'+model+'/edit/'+row['id']">
                                <i class="material-icons text text-s14">edit</i>
                            </router-link>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</template>


<script>
import breadcrumb from "../../components/breadcrumb";

export default {
    components: {
        'breadcrumb': breadcrumb,
    },
    data() {
        return {
            thead: [],
            model: this.$route.params.model,
            data: [],
            breadcrumb: [
                {
                    "icon": "dashboard",
                    "name": "Консоль",
                    "link": "/admin",
                },
                {
                    "icon": "",
                    "name": this.$route.params.model,
                    "link": "",
                },
            ],
        }
    },
    created() {
        this.fetchData();

        var __this=this;
        $(document).on("keyup", "#search_date", function () {

            axios.get('/api/database/get/' + __this.$route.params.model + "?search=" + $(this).val()).then((response) => {
                __this.data = response.data.data;
            });

        });
    },
    watch: {
        // при изменениях маршрута запрашиваем данные снова
        $route: 'fetchData'
    },
    methods:
        {
            delete_row(index, id) {

                if (confirm("Удалить ресторан?")) {
                    axios.post('/api/database/' + this.model + "/delete", {"id": id})
                        .then((response) => {
                            this.$notify({
                                group: 'notifications',
                                type: 'error',
                                title: 'Запись ' + (id) + ' удалена',
                            });
                        });
                    this.data.splice(index, 1);
                }
            },
            fetchData() {
                axios.get('/api/database/' + this.$route.params.model + "/browse_column").then((response) => {
                    this.thead = response.data.data
                    this.model = this.$route.params.model
                    this.breadcrumb[1]["name"] = this.$route.params.model
                    axios.get('/api/database/get/' + this.$route.params.model).then((response) => {
                        this.data = response.data.data;
                    });
                });

                axios.get('/api/database/get/Restaurant').then((response) => {
                        this.restaurant = response.data.data
                    }
                );
            }
        }
}


</script>
