<template>

    <form @submit.prevent="database_save" onSubmit="return false;" method="post"
          class="model_edit">

        <div class="breadcrumb-nav">
            <div class="breadcrumb">
                <div class="breadcrumb_main">
                    <router-link to="/admin" class="breadcrumb-item">
                        <i class="material-icons text text-s10">dashboard</i>
                        <p class="text text-s10">
                            Консоль
                        </p>
                    </router-link>
                    <router-link :to="'/admin/'+model+'/browse'" class="breadcrumb-item">
                        <p class="text text-s10">
                            {{ model }}
                        </p>
                    </router-link>
                    <div class="breadcrumb-item">
                        <p class="text text-s10">
                            Новая запись
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="model_edit_head">
            <i class="material-icons text text-m05 text-s24">cloud_queue</i>
            <span class="text text-s18">{{ model }}</span>

            <input type="submit" value="сохранить" class="btn btn-primary pull-right text text-s12">
        </div>

        <div method="post"
             class="model_edit">

            <div class="model-panel">
                <!--                <div class="model-panel_nav">-->
                <!--                    <input type="submit" value="принять" class="btn btn-primary pull-right text text-s12">-->
                <!--                </div>-->


                <div class="model-panel_main">

                    <div class="model_edit_head model_edit_head-flex">

                        <div class="input-text" v-for="(row,index) in inputs" :key="index">
                            <span class="text text-s12 input_name" style="display:flex;align-items: center;">
                                 <a v-if="row['type']=='file'" target="_blank" class="material-icons"
                                    :href="typeof data[row['name']] != 'undefined'?data[row['name']]:''"
                                    style="display: flex;margin: 0rem 1rem;margin-left: 0;">
                                    {{typeof data[row['name']] != 'undefined' ? (data[row['name']] != null ? 'check_circle_outline' : '') : ''}}
                                </a>
                               {{ row["placeholder"] }}
                            </span>


                            <input v-if="row['type']!='hasOne' && row['type']!='Maps' && row['type']!='Textarea'"
                                   :name="'save['+row['name']+']'"
                                   :value="(typeof data[row['name']] != 'undefined'? ((row['type']=='Password' || row['type']=='file')? '': (row['type']=='Datetime-local'?data[row['name']]:data[row['name']])) :'')"
                                   :type="row['type']" class="form-control text text-s12"
                                   :required="!!row['required']"/>


                            <textarea v-if="row['type']=='Textarea'" :name="'save['+row['name']+']'"
                                      class="form-control text text-s12" style="min-height: 150px;"
                                      :required="!!row['required']">{{
                                    (typeof data[row['name']] != 'undefined' ? ((row['type'] == 'Password' || row['type'] == 'file') ? '' : data[row['name']]) : '')
                                }}</textarea>

                            <select v-if="row['type']=='hasOne' && row['type']!='Maps'" :name="'save['+row['name']+']'">
                                <option value=""></option>
                                <option :value="name['id']"
                                        :selected="(typeof data[row['name']] != 'undefined'?data[row['name']]==name['id']:false)"
                                        v-for="(name,index) in row['hasOne']" :key="name['id']">
                                    {{ name["name"] }}
                                </option>
                            </select>
                            <p id="address" v-if="row['type']=='Maps'" class="text text-s14 adress_name">
                            </p>
                            <div v-if="row['type']=='Maps'">
                                <div style="display: flex;margin: 1rem 0;">
                                    Выбранные координаты заведения
                                    {{ typeof data[row['name']] != 'undefined' ? data[row['name']] : '' }}
                                </div>
                            </div>
                            <input type="hidden" id="ypoint" v-if="row['type']=='Maps'"
                                   :value="(typeof data[row['name']] != 'undefined'? ((row['type']=='Password' || row['type']=='file')? '': data[row['name']]) :'')"
                                   :name="'save['+row['name']+']'">
                            <yandex-map v-if="row['type']=='Maps'"
                                        :coords="coords"
                                        ref="ymaps"
                                        :map-type="maptype"
                                        @click="onClick2"
                                        @map-was-initialized="onInitMap"
                                        style="width: 100%; height: 400px">
                            </yandex-map>
                        </div>

                        <div class="input-text" v-if="model=='User'">
                            <p class="text text-s12 input_name">
                                Заблокировать
                            </p>
                            <select name="" id="">
                                <option value="0">Нет</option>
                                <option value="1">Да</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="pixi_container" v-if="model=='Restaurant' && id!='0'" style="margin-top: 0;">
                    <div class="menu_items_breaf" style="width:100%;min-height:100px; margin-top: 0; ">
                        <router-link to="/admin/Brief/edit/0" class="btn btn-def"
                                     style=" background-color: #6ebeec; color: #fff; margin-top: 1rem; ">
                            Добавить бриф
                        </router-link>
                    </div>
                </div>

                <div class="pixi_container" v-if="model=='Restaurant' && id!='0'">
                    <div class="menu_items_hell" style="width:100%;min-height:100px;">
                        <router-link to="/admin/RestaurantHall/edit/0" class="btn btn-def"
                                     style=" background-color: #6ebeec; color: #fff; margin-top: 1rem; ">Добавить зал
                        </router-link>
                    </div>
                </div>
                <div class="pixi_container" v-if="model=='RestaurantHall' && id!='0'">
                    <div class="menu_items menu_items-icons" style="min-height:100px;">
                        <div class="menu_items-icons_listing">
                            <router-link to="/admin/SchemeElements/edit/0" class="btn btn-def">Добавить</router-link>
                        </div>
                    </div>
                    <div class="pixi-box">
                        <div class="pixi">
                            <div id="pixi" class="pixi_main"></div>
                            <div class="nav-bar">
                                <a href="javascript:void(null);" class="btn btn-zoom btn-zoom-plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"
                                         fill="currentColor">
                                        <path d="M24 15h-7V8h-2v7H8v2h7v7h2v-7h7v-2z"></path>
                                    </svg>
                                </a>
                                <a href="javascript:void(null);" class="btn btn-zoom btn-zoom-minus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor"
                                         width="32"
                                         height="32">
                                        <path d="M8 15h16v2H8z"></path>
                                    </svg>
                                </a>

                                <a href="javascript:void(null);" class="btn btn-zoom open_items">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                         viewBox="0 0 24 24" fill="black" width="18px" height="18px">
                                        <g>
                                            <path d="M0,0h24v24H0V0z" fill="none"/>
                                            <path
                                                d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"/>
                                        </g>
                                    </svg>
                                </a>
                            </div>

                            <div class="control_items position_update">
                                <a href="javascript:void(null)"
                                   class="remove_items btn-stiling data_edit text text-s18">Удалить</a>
                                <a href="javascript:void(null)"
                                   class="open_edit_items btn-stiling data_edit text text-s18">Изменить</a>
                            </div>

                            <div class="edit_model position_update">

                                <div class="box_controls">
                                    <div class="input-text">
                                        <p class="text text-s12 input_name">
                                            Название тола
                                        </p>
                                        <input id="name" type="text" class="form-control text text-s12"/>
                                    </div>
                                    <div class="input-text">
                                        <p class="text text-s12 input_name">
                                            Поворот
                                        </p>
                                        <input id="rotate" type="text" autocomplete="off"
                                               class="form-control text text-s12"/>
                                    </div>
                                </div>
                                <a href="javascript:void(null)"
                                   class="send_rotate_new btn-stiling data_edit text text-s18">применить</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="model_edit_head">

            <input type="submit" value="сохранить" style="font-size: 18px;"
                   class="btn btn-primary pull-right text text-s12">
        </div>

    </form>
</template>


<script>


import {serialize} from "../../../../../overall/js/app";
import * as PIXI from "pixi.js";

import {yandexMap, ymapMarker} from 'vue-yandex-maps'


export default {
    components: {yandexMap, ymapMarker},
    data() {
        return {
            inputs: [],
            coords: [43.241274, 76.922675],
            model: this.$route.params.model,
            id: this.$route.params.id,
            data: [],
            polygons: [],
            maptype: 'map',
            map: null,
            marker: null,
            myCollection: [],
            settings: {
                apiKey: 'a2a8abd6-66b5-4670-8e3a-4df11e81e634',
                lang: 'ru_RU',
                coordorder: 'latlong',
                version: '2.1'
            }
        }
    },
    created() {

        var ___this = this;

        $(document).off("click", ".add_objor");
        $(document).on("click", ".add_objor", function () {

            var __submit_box = {
                "id": 0,
                "save": {"content": "", "restaurant_id": ___this.id},
                "model_name": "Brief"
            };


            const formData = serialize($("form")[0]);
            formData.append("id", ___this.id);
            formData.append("model_name", ___this.model);

            axios.post('/api/database/update', formData)
                .then((response) => {
                    this.id = response.data.data[0]["id"];
                    this.data = response.data.data[0];

                    axios.post('/api/database/update', __submit_box).then((response) => {
                        window.update_brif();
                    });
                    this.$notify({
                        group: 'notifications',
                        type: 'success',
                        title: 'Запись обновлена',
                    });
                    this.drawPixi();
                });


        });

        $(document).off("click", ".open_items");
        $(document).on("click", ".open_items", function () {
            $(".menu_items.menu_items-icons").addClass("active");
        });

        $(document).off("click", ".close_hell");
        $(document).on("click", ".close_hell", function () {
            $(".menu_items.menu_items-icons").removeClass("active");
        });


        $(document).on("click", ".delete_brif", function () {
            var $this = $(this);
            axios.post('/api/database/Brief/delete', {"id": $this.data("id")})
                .then((response) => {
                    $this.closest(".input-text").remove();
                });

        });


        $(document).on("click", ".delete_hell", function () {
            var $this = $(this);
            axios.post('/api/database/RestaurantHall/delete', {"id": $this.data("id")})
                .then((response) => {
                    $this.closest(".point_add").remove();
                });
        });

        $(document).on("click", ".delete_breaf", function () {
            var $this = $(this);
            axios.post('/api/database/Brief/delete', {"id": $this.data("id")})
                .then((response) => {
                    $this.closest(".point_add").remove();
                });
        });

        this.fetchData();
    },
    watch: {
        // при изменениях маршрута запрашиваем данные снова
        $route: 'fetchData'
    },
    methods:
        {
            update_info(coord) {
                var cord = coord;
                $('#ypoint').val(cord.join(","));
                ymaps.geocode(cord).then(function (res) {
                    var data = res.geoObjects.get(0).properties.getAll();
                    $('#address').text(data.text);
                });
            },
            initMarket(coord) {

                var settingsUser = {};
                var presetUser = {};
                var
                    settingsInit = {
                        "type": "Point",
                        "coordinates": coord,
                        "iconContent": "",
                        "hintContent": "",
                        "preset": "islands#blackStretchyIcon",
                        "draggable": true,
                    };
                if (typeof presetUser != "undefined") {
                    settingsInit["preset"] = presetUser;
                }
                if (!jQuery.isPlainObject(settingsUser)) {
                    if (jQuery.isArray(settingsUser)) {
                        settingsUser[0] = parseFloat(settingsUser[0]);
                        settingsUser[1] = parseFloat(settingsUser[1]);
                        settingsUser = {"coordinates": settingsUser};
                    }
                }
                var settings = $.extend(settingsInit, settingsUser);

                var myPolygon = new ymaps.GeoObject({
                    geometry: {
                        type: settings.type,
                        coordinates: settings.coordinates
                    },
                    properties: {
                        iconContent: settings.iconContent,
                        hintContent: settings.hintContent
                    }
                }, {
                    preset: settings.preset,
                    draggable: settings.draggable
                });

                var ___this = this;
                myPolygon.events.add('dragend', function (e) {
                    ___this.update_info(e.get('target').geometry.getCoordinates())
                });
                ___this.update_info(coord);

                this.marker = myPolygon;
                this.myCollection.add(myPolygon);
                this.map.geoObjects.add(this.myCollection)
            },
            onInitMap(map) {

                var __s_this = this;
                this.map = map; // сохрани в локальную переменную, потребуется для обработчика что добавляет полигон
                this.myCollection = new ymaps.GeoObjectCollection();

                var map_box = this.data.address.split(",");
                this.initMarket(map_box);
                window.mapsf = this.map;
                window.mapsf.setCenter(map_box);


            },
            onClick2(e) {

                this.myCollection.removeAll();
                this.initMarket(e.get('coords'));

            },
            drawPixi() {

                var _____this = this;

                if (typeof this.$route.query.restaurant_id != 'undefined') {
                    $(".model-panel_main").append('<input  name="save[restaurant_id]" value="' + this.$route.query.restaurant_id + '" type="hidden" class="form-control text text-s12">');
                }

                if (this.model == "Restaurant") {
                    axios.get('/api/database/get/RestaurantHall?restaurant_id=' + this.id).then((response) => {
                        $(".menu_items_hell").html('<a href="/admin/RestaurantHall/edit/0?restaurant_id=' + this.id + '" class="btn btn-def" style=" background-color: #6ebeec; color: #fff; margin-top: 1rem; ">Добавить зал</a>');
                        $.each(response.data.data, function (index, row) {
                            $(".menu_items_hell").prepend('<div class="point_add" style="margin-top:1rem;"><div class="point_add_img" style="background-image: url(/public' + row["schema"] + ');"></div> <div class="name_ics">' + row["name"] + ' <a href="/admin/RestaurantHall/edit/' + row["id"] + '" class="btn">Изменить</a> <a href="javascript:void(null)" data-id="' + row["id"] + '"  class="btn delete_hell">Удалить зал</a></div></div>');
                        });
                    });
                    window.update_brif = function () {
                        $(".menu_items_breaf").html('');
                        var options_list = [['email', 'Email'], ['phone', 'Телефон'], ['address', 'Адрес'], ['schedule', 'График работы'], ['price', 'Деньги'], ['other', 'Другое']];
                        axios.get('/api/database/get/Brief?restaurant_id=' + _____this.id).then((response) => {
                            $(".menu_items_breaf").html('<a href="javascript:void(null)" class="btn add_objor btn-def" style="background-color: #6ebeec;color: #fff;margin-top: 1rem;font-size: 1.5rem;padding-top: 0;padding-bottom: 0;padding: 0 0.75rem;">+</a>');
                            $.each(response.data.data, function (index, row) {
                                var option_rander = '';
                                $.each(options_list, function (index_option, row_option) {
                                    option_rander += '<option value="' + row_option[0] + '"  ' + (row_option[0] == row["icon"] ? 'selected' : '') + ' >' + row_option[1] + '</option>';
                                });
                                $(".menu_items_breaf").prepend('<div class="input-text input-text-flex" > <select name="brief[' + row["id"] + '][icon]">' + option_rander + '</select>   <input name="brief[' + row["id"] + '][content]" value="' + (row["content"] == null ? '' : row["content"]) + '" type="text" class="form-control text text-s12" /> <a href="javascript:void(null)" data-id="' + row["id"] + '"  class="btn delete_brif text text-s14" style="color:red;">Удалить</a>  </div>');
                            });
                        });
                    }
                    window.update_brif();

                    $(".pixi_container").css("display", "flex");
                } else if (this.model == "RestaurantHall") {


                    axios.get('/api/database/get/SchemeElements?restaurant_id=' + _____this.data["restaurant_id"]).then((response) => {

                        $(".menu_items-icons_listing").html('<a href="/admin/SchemeElements/edit/0?restaurant_id=' + _____this.data["restaurant_id"] + '" class="btn btn-def" style=" margin-top: 1rem; border: 1px solid #ccc; background-color: honeydew;width:calc(25% - 1rem);margin-left:1rem;display: flex;align-items: center;justify-content: center; ">Добавить элемент</a>');
                        $.each(response.data.data, function (index, row) {
                            $(".menu_items-icons_listing").prepend('<div class="icon_add"><div class="icon_add_img" style="background-image: url(/public' + row["icon"] + ');"></div><div class="icon_nis">' + row["name"] + ' <a href="javascript:void(0)" data-img="/public' + row["icon"] + '" data-id="' + row["id"] + '" data-width="' + row["width"] + '" data-height="' + row["height"] + '" class="btn add_items" style=" color: green; margin-top: 0.5rem; ">Добавить</a> <a href="/admin/SchemeElements/edit/' + row["id"] + '" class="btn">Изменить</a></div></div>');
                        });
                        $(".menu_items-icons_listing").prepend('<a href="javascript:void(null)" class="btn close_hell btn-def" style=" margin-top: 1rem; border: 1px solid #ccc; background-color: #c1c1c1; color: #000;width:calc(25% - 1rem);margin-left:1rem;display: flex;align-items: center;justify-content: center; ">Закрыть</a>');

                    });

                    $(".pixi_container").css("display", "flex");
                    window.bk_size = this.data["schema_size"];
                    window.bk_offset = [parseInt(this.data["offsetx"]), parseInt(this.data["offsety"])];
                    window.elMove = false;
                    window.moveMap = false;
                    window.startX = 0;
                    window.startY = 0;
                    window.pivotStartX = 0;
                    window.pivotStartY = 0;

                    var $container = $("#pixi");

                    $container.css("background-image", 'url("/public' + this.data["schema"] + '")');
                    $container.css("background-size", (this.data["schema_size"]) + 'px');
                    $container.css("background-position", (window.bk_offset[0] + "px") + " " + (window.bk_offset[1] + "px"));

                    const app = new PIXI.Application({
                        transparent: true,
                        autoResize: true,
                        antialias: true,
                        resolution: 2,
                    });
                    app.renderer.view.style.position = 'absolute';
                    app.renderer.view.style.display = 'block';
                    $container.html(app.view);

                    var containerMain = new PIXI.Container();
                    containerMain.x = 0;
                    containerMain.y = 0;
                    window.containerMain = containerMain;
                    app.stage.addChild(containerMain);

                    $(app.view).on("mousedown", function (e) {
                        if (!window.elMove) {
                            window.moveMap = true;
                            window.startX = (e.screenX - $(this).offset().left);
                            window.startY = (e.screenY - $(this).offset().top);
                            window.pivotStartX = app.stage.pivot.x;
                            window.pivotStartY = app.stage.pivot.y;
                        }
                    });
                    $(document).on("mouseup", function () {
                        window.moveMap = false;
                    });

                    $(document).on("keydown", function (event) {
                        if ((event.which || event.keyCode) == 17) {
                            event.preventDefault();
                        }
                    }).on("keyup", function (event) {
                        if (event.which == 17) {
                            console.log(event.which + " up");
                        }
                    });

                    var lastPos = null
                    $(app.view).on("mousemove", function (e) {
                        e.stopPropagation();
                        if (lastPos && window.moveMap) {
                            app.stage.x += (e.offsetX - lastPos.x);
                            app.stage.y += (e.offsetY - lastPos.y);
                            lastPos = {x: e.offsetX, y: e.offsetY};
                            $container.css("background-position", (((window.bk_offset[0]) + app.stage.x) + "px") + " " + (((window.bk_offset[1]) + app.stage.y) + "px"));
                            $(".control_items").removeClass("active");
                            $(".edit_model").removeClass("active");
                        }
                    }).on("mousedown", function (e) {
                        lastPos = {x: e.offsetX, y: e.offsetY};

                    }).on("mouseup", function (event) {
                        lastPos = null;

                    });


                    function resize() {
                        const parent = app.view.parentNode;
                        app.renderer.resize($container.width(), $container.height());
                    }

                    $(window).resize(function () {
                        resize();
                    })
                    resize();

                    function zoom(s, x, y) {
                        s = s > 0 ? 2 : 0.5;
                        var worldPos = {
                            x: (x - app.stage.x) / app.stage.scale.x,
                            y: (y - app.stage.y) / app.stage.scale.y
                        };
                        var newScale = {x: app.stage.scale.x * s, y: app.stage.scale.y * s};
                        var newScreenPos = {
                            x: (worldPos.x) * newScale.x + app.stage.x,
                            y: (worldPos.y) * newScale.y + app.stage.y
                        };
                        app.stage.x -= (newScreenPos.x - x);
                        app.stage.y -= (newScreenPos.y - y);
                        app.stage.scale.x = newScale.x;
                        app.stage.scale.y = newScale.y;

                        $container.css("background-position", (app.stage.x + window.bk_offset[0] + "px") + " " + (app.stage.y + window.bk_offset[1] + "px"))
                        $container.css("background-size", (((newScale.x == 0 ? 1 : newScale.x) * ((window.bk_size)) + "px")));
                    }


                    app.stage.scale.x = ($("#pixi").width() / parseInt(this.data.schema_size));
                    app.stage.scale.y = ($("#pixi").width() / parseInt(this.data.schema_size));
                    $container.css("background-size", (((app.stage.scale.x == 0 ? 1 : app.stage.scale.x) * ((window.bk_size)) + "px")));


                    function createGraphics(settingIn) {

                        var settingOut = {
                            x: 0,
                            y: 0,
                            width: 0,
                            height: 0,
                            radius: 0,
                            rotation: 0,
                            bgcolor: 0xffffff,
                            alpha: 1,
                            border: [0, 0xcccccc, 0],
                            data: {type: "", "position": 0},
                            img: "",
                            remove: 0,
                            events: "none",
                        };

                        var settings = $.extend(settingOut, settingIn);
                        settings.data.id = "id" + Math.floor(Math.random() * 10000)


                        var return_el = new PIXI.Graphics()
                            .beginFill(settings.bgcolor)
                            .lineStyle(settings.border[0], settings.border[1], settings.border[3])
                            .drawRoundedRect(0, 0, settings.width, settings.height, ((settings.width * (settings.radius / 100))))
                            .endFill();

                        return_el.alpha = settings.alpha;


                        if (settings.img != "") {
                            var texture = PIXI.Texture.from(settings.img);
                            return_el = new PIXI.Sprite(texture);
                            return_el.width = settings.width;
                            return_el.height = settings.height;
                            return_el.rotation = parseInt(settings.rotation);
                        }


                        return_el.x = settings.x;
                        return_el.y = settings.y;
                        return_el.data = $.extend(settings.data, settingIn.data);

                        // return_el.interactive = true;
                        // return_el.buttonMode = true;
                        // return_el.on('pointerdown', onMoveStart)
                        //     .on('pointerup', onMoveEnd)
                        //     .on('pointerupoutside', onMoveEnd)
                        //     .on('mouseover', mouseoverdelete)
                        //     .on('pointermove', onMoveMove);

                        if (settings.remove == 1) {
                            return_el.on('onMoveStart', mouseoverdelete);
                        }

                        return return_el;
                    }

                    window.zoom_info = 1;
                    // $(app.view).on('mousewheel', function (e) {
                    //     if (e.originalEvent.wheelDelta > 0) {
                    //         window.zoom_info += 0.25;
                    //     } else {
                    //         window.zoom_info -= 0.25;
                    //     }
                    //     zoom(e.originalEvent.wheelDelta, e.offsetX, e.offsetY)
                    // });

                    $(document).on('click', '.btn-zoom-plus', function (e) {
                        window.zoom_info += 0.25;
                        zoom(120, $container.width() / 2, $container.height() / 2)
                    });
                    $(document).on('click', '.btn-zoom-minus', function (e) {
                        window.zoom_info -= 0.25;
                        zoom(-120, $container.width() / 2, $container.height() / 2)
                    });


                    var __this = this;


                    function add_object(data) {

                        app.stage.removeChild(containerMain);
                        containerMain = new PIXI.Container();
                        containerMain.x = 0;
                        containerMain.y = 0;
                        window.containerMain = containerMain;
                        app.stage.addChild(containerMain);

                        $.each(data, function (index, element) {

                            var object = new PIXI.Container();
                            window.objss = object;
                            object.x = parseFloat(element["offsetx"]);
                            object.y = parseFloat(element["offsety"]);
                            object.pivot.set(element["width"] / 2, element["height"] / 2);
                            object.width = element["width"];
                            object.height = element["height"];
                            object.rotation = parseFloat(element["rotation"]) * 0.0174444;
                            // 6.284 = 360

                            object.addChild(createGraphics({
                                x: 0,
                                y: 0,
                                width: element["width"],
                                height: element["height"],
                                img: element["icon"],
                                rotation: 0,
                            }));

                            object.data = {id: element["id"], "name": element["name"]};
                            object.interactive = true;
                            object.buttonMode = true;
                            object.on('pointerdown', onMoveStart)
                                .on('pointerup', onMoveEnd)
                                .on('pointerupoutside', onMoveEnd)
                                .on('pointermove', onMoveMove);
                            containerMain.addChild(object);

                        });

                    }

                    function ajax_object() {
                        axios.get('/api/admin/get_point/' + __this.id, [])
                            .then((response) => {
                                add_object(response.data.data);
                            });
                    }

                    ajax_object();


                    $(document).off('click', '.add_items');
                    $(document).on('click', '.add_items', function (e) {
                        e.preventDefault()
                        var $this = $(this);


                        var zoomX = (1 / app.stage.scale.x);
                        var zoomY = (1 / app.stage.scale.y);

                        var formData = {
                            "offsetx": ((app.stage.x * zoomX) * -1) + (($container.width() / 2) * zoomX),
                            "offsety": ((app.stage.y * zoomY) * -1) + (($container.height() / 2) * zoomY),
                            "restaurant_hall_id": __this.id,
                            "scheme_elements_id": $this.data("id"),
                            "name": "Стол " + (containerMain.children.length + 1)
                        };


                        $(".menu_items.menu_items-icons").removeClass("active");
                        axios.post('/api/admin/add_point', formData)
                            .then((response) => {
                                ajax_object();
                            });

                        return false;
                    });

                    $(document).off('contextmenu');

                    $(document).on('contextmenu', function (e) {
                        e.preventDefault()

                        return false
                    });

                    $(document).off('mouseleave', ".control_items");
                    $(document).on('mouseleave', ".control_items", function (e) {
                        $(".control_items").removeClass("active");
                    });

                    // $(document).on('mouseleave', ".edit_model", function (e) {
                    //     $(".control_items").removeClass("active");
                    //     $(".edit_model").removeClass("active");
                    // });

                    $(document).off('click', ".remove_items");
                    $(document).on('click', ".remove_items", function (e) {
                        $(".control_items").removeClass("active");
                        axios.post('/api/admin/delete_point', {"id": $(this).data("id")})
                            .then((response) => {
                                ajax_object();
                            });
                    });

                    $(document).off('click', ".send_rotate_new");
                    $(document).on('click', ".send_rotate_new", function (e) {

                        var send_news = {
                            "id": $(this).data("id"),
                            "model_name": "RestaurantScheme",
                            "save": {"name": $("#name").val(), "rotation": $("#rotate").val()},
                        };

                        axios.post('/api/database/update', send_news)
                            .then((response) => {
                                $(".position_update").removeClass("active");
                                ajax_object();
                            });
                    });

                    $(document).off('click', ".open_edit_items");
                    $(document).on('click', ".open_edit_items", function (e) {


                        axios.get('/api/database/get/RestaurantScheme/' + $(this).data("id"))
                            .then((response) => {
                                $("#name").val(response.data.data["name"]);
                                $("#rotate").val(response.data.data["rotation"]);
                                $(".control_items").removeClass("active");
                                $(".edit_model").addClass("active");
                            });
                    });


                    function onMoveStart(event) {
                        $(".control_items").removeClass("active");
                        $(".edit_model").removeClass("active");
                        event.stopPropagation();
                        const newPosition = event.data.getLocalPosition(this.parent);
                        this.startx = newPosition.x - this.x;
                        this.starty = newPosition.y - this.y;
                        this.mouseData = event.data;
                        this.alpha = 0.5;
                        this.dragging = true;
                        window.elMove = true;

                        if (event.data.originalEvent.which == 3) {
                            var $pixi_cont = $("#pixi");
                            $(".control_items").addClass("active");
                            $(".data_edit").attr("data-id", this.data.id);
                            $(".data_edit").prop("data-id", this.data.id);
                            $(".data_edit").data("id", this.data.id);
                            $(".position_update").css("left", $(window).scrollLeft() + (event.data.originalEvent.clientX - ($pixi_cont.offset().left)));
                            $(".position_update").css("top", $(window).scrollTop() + (event.data.originalEvent.clientY - ($pixi_cont.offset().top)));
                        }
                    }

                    function mouseoverdelete() {
                        this.alpha = 0.5;
                        containerMain.removeChild(this);
                    }


                    function onMoveEnd() {

                        this.alpha = 1;
                        this.dragging = false;
                        // set the interaction data to null
                        this.mouseData = null;
                        var this_data = {id: this.data.id, offsetx: this.x, offsety: this.y};
                        window.elMove = false;


                        axios.post('/api/admin/update_point', this_data)
                            .then((response) => {

                            });

                    }


                    function onMoveMove() {
                        event.stopPropagation();
                        if (this.dragging) {
                            const newPosition = this.mouseData.getLocalPosition(this.parent);
                            this.x = newPosition.x - this.startx;
                            this.y = newPosition.y - this.starty;

                        }
                    }


                } else {
                    $(".pixi_container").css("display", "none");
                }
            },


            fetchData() {
                this.model = this.$route.params.model;
                this.id = this.$route.params.id;
                axios.get('/api/database/' + this.model + "/edit_column/" + this.id).then((response) => {
                    this.inputs = response.data.data;
                    axios.get('/api/database/get/' + this.model + '/' + this.id).then((response) => {
                        this.data = response.data.data;
                        this.drawPixi();
                    });
                });


            },
            database_save(inputs) {
                const formData = serialize(inputs.target);

                formData.append("id", this.id);
                formData.append("model_name", this.model);

                axios.post('/api/database/update', formData)
                    .then((response) => {
                        this.id = response.data.data[0]["id"];
                        if (location.pathname == "/admin/" + this.model + "/edit/" + response.data.data[0]["id"]) {
                            this.data = response.data.data[0];

                        } else {
                            this.$router.push("/admin/" + this.model + "/edit/" + response.data.data[0]["id"]);
                        }
                        this.$notify({
                            group: 'notifications',
                            type: 'success',
                            title: 'Запись обновлена',
                        });
                        this.drawPixi();
                    });

            }
        }
}


</script>
