<template>

    <form @submit.prevent="database_save" onSubmit="return false;" method="post"
          class="model_edit">

        <div class="breadcrumb-nav">
            <div class="breadcrumb">
                <div class="breadcrumb_main">
                    <router-link to="/admin" class="breadcrumb-item">
                        <i class="material-icons text text-s10">dashboard</i>
                        <p class="text text-s10">
                            Карта броний
                        </p>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="model_edit_head">
            <i class="material-icons text text-m05 text-s24">cloud_queue</i>
            <span class="text text-s18">Карта броний</span>

        </div>

        <div method="post"
             class="model_edit">

            <div class="model-panel">
                <div class="model-panel_main">
                    <select>
                        <option></option>
                    </select>

                </div>
            </div>
        </div>


    </form>
</template>


<script>


import {serialize} from "../../../../../overall/js/app";
import * as PIXI from "pixi.js";

import {yandexMap, ymapMarker} from 'vue-yandex-maps'


export default {
    data() {
        return {
            inputs: [],
        }
    },
    created() {
        this.fetchData();
    },
    watch: {
        // при изменениях маршрута запрашиваем данные снова
        $route: 'fetchData'
    },
    methods:
        {
            drawPixi() {

                var _____this = this;

                if (this.model == "RestaurantHall") {

                    $(".pixi_container").css("display", "flex");
                    window.bk_size = this.data["schema_size"];
                    window.bk_offset = [parseInt(this.data["offsetx"]), parseInt(this.data["offsety"])];
                    window.elMove = false;
                    window.moveMap = false;
                    window.startX = 0;
                    window.startY = 0;
                    window.pivotStartX = 0;
                    window.pivotStartY = 0;

                    var $container = $("#pixi");

                    $container.css("background-image", 'url("/public' + this.data["schema"] + '")');
                    $container.css("background-size", (this.data["schema_size"]) + 'px');
                    $container.css("background-position", (window.bk_offset[0] + "px") + " " + (window.bk_offset[1] + "px"));

                    const app = new PIXI.Application({
                        transparent: true,
                        autoResize: true,
                        antialias: true,
                        resolution: 2,
                    });
                    app.renderer.view.style.position = 'absolute';
                    app.renderer.view.style.display = 'block';
                    $container.html(app.view);

                    var containerMain = new PIXI.Container();
                    containerMain.x = 0;
                    containerMain.y = 0;
                    window.containerMain = containerMain;
                    app.stage.addChild(containerMain);

                    $(app.view).on("mousedown", function (e) {
                        if (!window.elMove) {
                            window.moveMap = true;
                            window.startX = (e.screenX - $(this).offset().left);
                            window.startY = (e.screenY - $(this).offset().top);
                            window.pivotStartX = app.stage.pivot.x;
                            window.pivotStartY = app.stage.pivot.y;
                        }
                    });
                    $(document).on("mouseup", function () {
                        window.moveMap = false;
                    });

                    $(document).on("keydown", function (event) {
                        if ((event.which || event.keyCode) == 17) {
                            event.preventDefault();
                        }
                    }).on("keyup", function (event) {
                        if (event.which == 17) {
                            console.log(event.which + " up");
                        }
                    });

                    var lastPos = null
                    $(app.view).on("mousemove", function (e) {
                        e.stopPropagation();
                        if (lastPos && window.moveMap) {
                            app.stage.x += (e.offsetX - lastPos.x);
                            app.stage.y += (e.offsetY - lastPos.y);
                            lastPos = {x: e.offsetX, y: e.offsetY};
                            $container.css("background-position", (((window.bk_offset[0]) + app.stage.x) + "px") + " " + (((window.bk_offset[1]) + app.stage.y) + "px"));
                            $(".control_items").removeClass("active");
                            $(".edit_model").removeClass("active");
                        }
                    }).on("mousedown", function (e) {
                        lastPos = {x: e.offsetX, y: e.offsetY};

                    }).on("mouseup", function (event) {
                        lastPos = null;

                    });


                    function resize() {
                        const parent = app.view.parentNode;
                        app.renderer.resize($container.width(), $container.height());
                    }

                    $(window).resize(function () {
                        resize();
                    })
                    resize();

                    function zoom(s, x, y) {
                        s = s > 0 ? 2 : 0.5;
                        var worldPos = {
                            x: (x - app.stage.x) / app.stage.scale.x,
                            y: (y - app.stage.y) / app.stage.scale.y
                        };
                        var newScale = {x: app.stage.scale.x * s, y: app.stage.scale.y * s};
                        var newScreenPos = {
                            x: (worldPos.x) * newScale.x + app.stage.x,
                            y: (worldPos.y) * newScale.y + app.stage.y
                        };
                        app.stage.x -= (newScreenPos.x - x);
                        app.stage.y -= (newScreenPos.y - y);
                        app.stage.scale.x = newScale.x;
                        app.stage.scale.y = newScale.y;
                        $container.css("background-position", (app.stage.x + window.bk_offset[0] + "px") + " " + (app.stage.y + window.bk_offset[1] + "px"))
                        $container.css("background-size", (((newScale.x == 0 ? 1 : newScale.x) * ((window.bk_size)) + "px")));
                    }

                    function createGraphics(settingIn) {

                        var settingOut = {
                            x: 0,
                            y: 0,
                            width: 0,
                            height: 0,
                            radius: 0,
                            rotation: 0,
                            bgcolor: 0xffffff,
                            alpha: 1,
                            border: [0, 0xcccccc, 0],
                            data: {type: "", "position": 0},
                            img: "",
                            remove: 0,
                            events: "none",
                        };

                        var settings = $.extend(settingOut, settingIn);
                        settings.data.id = "id" + Math.floor(Math.random() * 10000)


                        var return_el = new PIXI.Graphics()
                            .beginFill(settings.bgcolor)
                            .lineStyle(settings.border[0], settings.border[1], settings.border[3])
                            .drawRoundedRect(0, 0, settings.width, settings.height, ((settings.width * (settings.radius / 100))))
                            .endFill();

                        return_el.alpha = settings.alpha;


                        if (settings.img != "") {
                            var texture = PIXI.Texture.from(settings.img);
                            return_el = new PIXI.Sprite(texture);
                            return_el.width = settings.width;
                            return_el.height = settings.height;
                            return_el.rotation = parseInt(settings.rotation);
                        }


                        return_el.x = settings.x;
                        return_el.y = settings.y;
                        return_el.data = $.extend(settings.data, settingIn.data);

                        // return_el.interactive = true;
                        // return_el.buttonMode = true;
                        // return_el.on('pointerdown', onMoveStart)
                        //     .on('pointerup', onMoveEnd)
                        //     .on('pointerupoutside', onMoveEnd)
                        //     .on('mouseover', mouseoverdelete)
                        //     .on('pointermove', onMoveMove);

                        if (settings.remove == 1) {
                            return_el.on('onMoveStart', mouseoverdelete);
                        }

                        return return_el;
                    }

                    window.zoom_info = 1;
                    // $(app.view).on('mousewheel', function (e) {
                    //     if (e.originalEvent.wheelDelta > 0) {
                    //         window.zoom_info += 0.25;
                    //     } else {
                    //         window.zoom_info -= 0.25;
                    //     }
                    //     zoom(e.originalEvent.wheelDelta, e.offsetX, e.offsetY)
                    // });

                    $(document).on('click', '.btn-zoom-plus', function (e) {
                        window.zoom_info += 0.25;
                        zoom(120, $container.width() / 2, $container.height() / 2)
                    });
                    $(document).on('click', '.btn-zoom-minus', function (e) {
                        window.zoom_info -= 0.25;
                        zoom(-120, $container.width() / 2, $container.height() / 2)
                    });


                    var __this = this;


                    function add_object(data) {

                        app.stage.removeChild(containerMain);
                        containerMain = new PIXI.Container();
                        containerMain.x = 0;
                        containerMain.y = 0;
                        window.containerMain = containerMain;
                        app.stage.addChild(containerMain);

                        $.each(data, function (index, element) {

                            var object = new PIXI.Container();
                            window.objss = object;
                            object.x = parseFloat(element["offsetx"]);
                            object.y = parseFloat(element["offsety"]);
                            object.pivot.set(element["width"] / 2, element["height"] / 2);
                            object.width = element["width"];
                            object.height = element["height"];
                            object.rotation = parseFloat(element["rotation"]) * 0.017455;
                            // 6.284 = 360

                            object.addChild(createGraphics({
                                x: 0,
                                y: 0,
                                width: element["width"],
                                height: element["height"],
                                img: element["icon"],
                                rotation: 0,
                            }));

                            object.data = {id: element["id"], "name": element["name"]};
                            object.interactive = true;
                            object.buttonMode = true;
                            object.on('pointerdown', onMoveStart)
                                .on('pointerup', onMoveEnd)
                                .on('pointerupoutside', onMoveEnd)
                                .on('pointermove', onMoveMove);
                            containerMain.addChild(object);

                        });

                    }

                    function ajax_object() {
                        axios.get('/api/admin/get_point/' + __this.id, [])
                            .then((response) => {
                                add_object(response.data.data);
                            });
                    }

                    ajax_object();

                    $(document).on('click', '.add_items', function (e) {
                        var $this = $(this);

                        var zoomX = (1 / app.stage.scale.x);
                        var zoomY = (1 / app.stage.scale.y);

                        var formData = {
                            "offsetx": ((app.stage.x * zoomX) * -1) + (($container.width() / 2) * zoomX),
                            "offsety": ((app.stage.y * zoomY) * -1) + (($container.height() / 2) * zoomY),
                            "restaurant_hall_id": __this.id,
                            "scheme_elements_id": $this.data("id"),
                            "name": "Стол " + (containerMain.children.length + 1)
                        };


                        $(".menu_items.menu_items-icons").removeClass("active");
                        axios.post('/api/admin/add_point', formData)
                            .then((response) => {
                                ajax_object();
                            });


                    });


                    $(document).on('contextmenu', function (e) {
                        e.preventDefault()

                        return false
                    });

                    $(document).on('mouseleave', ".control_items", function (e) {
                        $(".control_items").removeClass("active");
                    });

                    // $(document).on('mouseleave', ".edit_model", function (e) {
                    //     $(".control_items").removeClass("active");
                    //     $(".edit_model").removeClass("active");
                    // });


                    $(document).on('click', ".remove_items", function (e) {
                        $(".control_items").removeClass("active");
                        axios.post('/api/admin/delete_point', {"id": $(this).data("id")})
                            .then((response) => {
                                ajax_object();
                            });
                    });


                    $(document).on('click', ".send_rotate_new", function (e) {

                        var send_news = {
                            "id": $(this).data("id"),
                            "model_name": "RestaurantScheme",
                            "save": {"name": $("#name").val(), "rotation": $("#rotate").val()},
                        };

                        axios.post('/api/database/update', send_news)
                            .then((response) => {
                                $(".position_update").removeClass("active");
                                ajax_object();
                            });
                    });

                    $(document).on('click', ".open_edit_items", function (e) {


                        axios.get('/api/database/get/RestaurantScheme/' + $(this).data("id"))
                            .then((response) => {
                                $("#name").val(response.data.data["name"]);
                                $("#rotate").val(response.data.data["rotation"]);
                                $(".control_items").removeClass("active");
                                $(".edit_model").addClass("active");
                            });
                    });


                    function onMoveStart(event) {
                        $(".control_items").removeClass("active");
                        $(".edit_model").removeClass("active");
                        event.stopPropagation();
                        const newPosition = event.data.getLocalPosition(this.parent);
                        this.startx = newPosition.x - this.x;
                        this.starty = newPosition.y - this.y;
                        this.mouseData = event.data;
                        this.alpha = 0.5;
                        this.dragging = true;
                        window.elMove = true;

                        if (event.data.originalEvent.which == 3) {
                            var $pixi_cont = $("#pixi");
                            $(".control_items").addClass("active");
                            $(".data_edit").attr("data-id", this.data.id);
                            $(".data_edit").prop("data-id", this.data.id);
                            $(".data_edit").data("id", this.data.id);
                            $(".position_update").css("left", $(window).scrollLeft() + (event.data.originalEvent.clientX - ($pixi_cont.offset().left)));
                            $(".position_update").css("top", $(window).scrollTop() + (event.data.originalEvent.clientY - ($pixi_cont.offset().top)));
                        }
                    }

                    function mouseoverdelete() {
                        this.alpha = 0.5;
                        containerMain.removeChild(this);
                    }


                    function onMoveEnd() {

                        this.alpha = 1;
                        this.dragging = false;
                        // set the interaction data to null
                        this.mouseData = null;
                        var this_data = {id: this.data.id, offsetx: this.x, offsety: this.y};
                        window.elMove = false;


                        axios.post('/api/admin/update_point', this_data)
                            .then((response) => {

                            });

                    }


                    function onMoveMove() {
                        event.stopPropagation();
                        if (this.dragging) {
                            const newPosition = this.mouseData.getLocalPosition(this.parent);
                            this.x = newPosition.x - this.startx;
                            this.y = newPosition.y - this.starty;

                        }
                    }


                } else {
                    $(".pixi_container").css("display", "none");
                }
            },


            fetchData() {
                this.model = this.$route.params.model;
                this.id = this.$route.params.id;
                axios.get('/api/database/' + this.model + "/edit_column/" + this.id).then((response) => {
                    this.inputs = response.data.data;
                    axios.get('/api/database/get/' + this.model + '/' + this.id).then((response) => {
                        this.data = response.data.data;
                        this.drawPixi();
                    });
                });

            },

        }
}


</script>
