<template>
    <div class="sitebar col-3">
        <div class="sitebar_main">
            <div class="sitebar_main_head">
                <span class="text text-s24"
                      style="font-size: 18px; color: #3c4858; white-space: nowrap; font-weight: 400;">TeamGis</span>
            </div>
            <!--            <div class="sitebar-head"-->
            <!--                 style="height: 3rem;display: flex;background-color: rgb(156 156 156);align-items: center;padding: 0 1rem;justify-content: center;">-->
            <!--                <img src="https://www.a-lux.kz/img/logo-services.png" style="width:65%;" alt="">-->

            <!--            </div>-->
            <!--            <div class="sitebar-head">-->
            <!--                <div class="profil-bar">-->
            <!--                    <div class="profil-bar_img">-->
            <!--                        <div class="ratio ratio-100">-->
            <!--                            <div class="ratio_img">-->
            <!--                                <div class="ratio_img_src"></div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="profil-bar_name">-->
            <!--                        <span class="text text-s16">Admin</span>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="sitebar-main">
                <router-link class="btn btn-nav text text-s15" to="/admin">
                    <i class="material-icons text text-s24">dashboard</i>
                    Консоль
                </router-link>
                <router-link class="btn btn-nav text text-s15" to="/admin/Restaurant/browse">
                    <i class="material-icons text text-s24">addchart</i>
                    Заведения
                </router-link>
                <router-link class="btn btn-nav text text-s15" to="/admin/Reservation/browse">
                    <i class="material-icons text text-s24">calendar_today</i>
                    Брони
                </router-link>

                <router-link class="btn btn-nav text text-s15" to="/admin/Feedback/browse">
                    <i class="material-icons text text-s24">feedback</i>
                    Обратная связь
                </router-link>

                <router-link class="btn btn-nav text text-s15" to="/admin/Message/browse">
                    <i class="material-icons text text-s24">feedback</i>
                    Уведомление SMS/PUSH
                </router-link>

                <router-link v-if="user.role_id==1" class="btn btn-nav text text-s15" to="/admin/Catalog/browse">
                    <i class="material-icons text text-s24">bookmark_add</i>
                    Категории
                </router-link>
                <router-link v-if="user.role_id==1" class="btn btn-nav text text-s15" to="/admin/Slider/browse">
                    <i class="material-icons text text-s24">photo_filter</i>
                    Баннер
                </router-link>
                <router-link v-if="user.role_id==1" class="btn btn-nav text text-s15" to="/admin/History/browse">
                    <i class="material-icons text text-s24">favorite_border</i>
                    Топ заведений - сторис
                </router-link>
                <router-link v-if="user.role_id==1" class="btn btn-nav text text-s15" to="/admin/HistoryList/browse">
                    <i class="material-icons text text-s24">playlist_add</i>
                    Топ заведений - лента
                </router-link>
                <div class="drop">
                    <a class="btn btn-nav text text-s15 cli" data-closest=".drop" href="javascript:void(0);">
                        <i class="material-icons text text-s24">settings</i>
                        Инструменты
                    </a>
                    <div class="drop_menu">
                        <router-link class="btn btn-nav text text-s15" to="/admin/User/browse">
                            <i class="material-icons text text-s24">face</i>
                            Пользователи
                        </router-link>
                        <router-link v-if="user.role_id==1" class="btn btn-nav text text-s15" to="/admin/Role/browse">
                            <i class="material-icons text text-s24">rule</i>
                            Роли
                        </router-link>
                        <router-link v-if="user.role_id==1" class="btn btn-nav text text-s15" to="/admin/database">
                            <i class="material-icons text text-s24">table_chart</i>
                            Таблицы
                        </router-link>

                    </div>
                </div>
                <a @click="exit" class="btn btn-nav text text-s15" href="javascript:void(null)">
                    <i class="material-icons text text-s24">exit_to_app</i>
                    Выйти
                </a>
            </div>
        </div>
    </div>
</template>


<script>

import {def_event, get_user} from "../../../../../overall/js/app";

var user_auth = get_user();

export default {
    data() {
        return {
            user: user_auth.message,
        }
    },
    created() {

        def_event();

    },
    methods: {
        exit() {
            localStorage.setItem('token', null);
            location.reload();
        }
    }
}


</script>
